DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^index\.html$ index.php [R=301,L]

RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.*)\.html$ $1.php [R=301,L]
</IfModule>

AddType model/gltf-binary .glb
AddType model/gltf+json .gltf
